.map-clean {
  color: #313437;
  background-color: rgb(191,114,114);
  padding: 30px 30px;
}

.background-map {
  background-color: rgb(250,247,250);
}

.map-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.map-clean iframe {
  background-color: #eee;
}

